<section class="container">

	<div class="card-container">
		<div class="empty" ng-hide="undecidedCards.length">
			No more cards.
		</div>
		<div ng-repeat="card in undecidedCards = (cards | filter:undecided)" class="card"
		 			ng-model="card" index="undecidedCards.length - $index">
		</div>
	</div>
	<div class="controls"  ng-show="undecidedCards.length">
		<div class="control">
			<a href="#" ng-click="undecidedCards[undecidedCards.length-1].accepted = false"><span class="fui-cross"></span></a>
		</div>
		<div class="control">
			<a href="#" ng-click="undecidedCards[undecidedCards.length-1].accepted = true"><span class="fui-check"></span></a>
		</div>
	</div>
</section>
