@import (reference) '../../../lib/bootstrap/less/bootstrap.less';
body {
				background-color: #EEEEEE;
}
.container {
				text-align: center;
}
.rota-header {
				a {
								font-size: 26pt;
								color: black;
				}
}
.card-container {
				display: inline-block;
				position: relative;
				margin: auto;
				width: 230px;
				height: 330px;
				.empty {
								position: absolute;
								top: 50%;
								width: 100%;
								transform: translateY(-50%);
				}
}
.card {
				background-color: #FFFFFF;
				padding: 5px;
				position: absolute;
				left: 0;
				top: 0;
				.portrait {
								width: 100%;
				}
				.name {
								display: inline-block;
								margin-top: 10px;
				}
				.rating {
								display: block;
				}
				&.tentative-yes {
								outline: 2px solid Orange;
				}
				&.tentative-no {
								outline: 2px solid Grey;
				}
				-webkit-box-shadow: 3px 7px 14px -4px rgba(0,0,0,0.75);
				-moz-box-shadow: 3px 7px 14px -4px rgba(0,0,0,0.75);
				box-shadow: 3px 7px 14px -4px rgba(0,0,0,0.75);
}
.controls {
				.control {
								display: inline-block;
								margin: 20px;
				}
				.fui-check,
				.fui-cross {
								border: 2px solid;
								border-radius: 15px;
								padding: 5px;
				}
				.fui-check {
								color: orange;
				}
				.fui-cross {
								color: grey;
				}
}
